/* Color pallete */
:root {
    --black: #121212;
    --dark-grey: #212121;
    --white: #F0F4F8;
    --purple: #8b5cf6;
    --purple-glow: #c026d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: var(--white);
}

body {
    background-color: var(--black);
    height: 100vh;
    display: grid;
    grid-template-rows: 150px auto 100px 1fr 50px;
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0 80px;
    background-color: var(--dark-grey);
}

header img {
    width: 3rem;
}

.main_body {
    background-color: var(--black);
    padding: 50px 10vw 10px;
    z-index: 1;
    display: grid;
    justify-content: center;
}

.book_list {
    max-height: calc(100vh - 370px);
    min-height: 125px;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: var(--purple) 0px 8px 24px;
}

.book_list::-webkit-scrollbar {
    display: none;
}

footer {
    background-color: var(--dark-grey);
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}

/* Table Styling */
table {
    width: max(300px, 80vw);
    padding: 10px;
    background-color: var(--dark-grey);
    border-spacing: 0;
}

th {
    text-align: left;
    padding: 10px;
    color: var(--purple);
    background-color: var(--dark-grey);
    border-bottom: 2px solid var(--black);
    position: sticky;
    top: 0;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--black);
}

tbody tr:hover {
    background-color: var(--purple);
}

/* Add Book Styling */
.add_book {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}

.add_book button {
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 700;
    font-size: 1.01rem;
    padding: 15px;
    border-radius: 10px;
    border: none;
    transition-duration: 0.2s;
    display: flex;
    gap: 5px;
}

.add_book button:hover{
    filter: drop-shadow(0 0 0.3rem var(--purple));
    transform: scale(1.1);
}